<!DOCTYPE html>
<html>
<head>
  <title>Reset Password</title>
</head>
<body>
  <h1>Restablecer contraseña</h1>
  <form action="/resetpassword/reset-password" method="post">
    <input type="hidden" name="token" value="{{ token }}">
    <label for="password">Nueva contraseña:</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Confirmar</button>
  </form>
</body>
</html>