<html>
  <head>
    <title>Reset Password</title>
  </head>
  <body>
    <h1>Restablecer Contraseña</h1>
    <form action="/resetpassword/sendmail" method="post">
      <input type="email" name="email" placeholder="Email" required />
      <button type="submit">Enviar mail</button>
    </form>
  </body>
</html>